<!DOCTYPE html>
<html lang="en">
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;
}
form {
    margin: auto;
    width: 25%;
}
.result {
    margin: auto;
    width: 25%;
}
fieldset {
    border: 0;
    text-align:center;
}
</style>
<head>
    <title>Giorgos Aivatoglou</title>
</head>
<form action="{{ url_for('index') }}" method="POST">
    <fieldset>
        Chat
        <input name="sentence" type="text" required>
        <input type="submit">
    </fieldset>
</form>
<div class="result" align="center">
    {% if result %}
        <br> Giorgos:
           <p style="font-size:15px; color:White;">{{ result }}</p>
    {% else %}
        <br> Giorgos:
           <p style="font-size:15px; color:WHite">{{ "Hello!" }}</p>
    {% endif %}
</div>
</html>